nav {
	padding-bottom: 40px;

	ul {

		li {
			display: inline-block;
			font-family: $sans;
			font-size: 14px;
			text-transform: uppercase;
			padding-right: 50px;
			opacity: 0.7;
		}

		#active {
			opacity: 1;
		}

	}

}


